/* GLOBAL RESETS */

* { box-sizing: border-box; }

// VARIABLES

$color-text-body: rgb(0 0 0 / .8);
$color-text-body-light: #EAF5DE;
$color-text-headings: rgb(0 0 0 / 1);
$color-text-headings-light: #EAF5DE;
$color-accent: #EAF5DE;
$color-accent-dark: #24272A;
$color-accent-light: rgb(174 234 228);
$color-lightgrey: rgb(0 0 0 / .3);

$font-family-sans: 'Avenir Next', Arial, Helvetica, sans-serif;
$font-family-serif: Georgia,'Times New Roman', Times, serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/toc"; 
@import "partials/typography"; 
@import "partials/buttons"; 
@import "partials/media"; 
@import "partials/helper"; 
@import "partials/layout"; 
@import "partials/grid";  
@import "partials/structure";  
@import "partials/sitenav"; 
@import "partials/animations"; 