/* CSS ANIMATIONS */

/* ANIMATE THE HERO ON LOAD */

.hero {

    h1 {
        animation-name: scaleup;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    p {
        animation-name: scaleup;
        animation-duration: 2s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

}

@keyframes scaleup {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ANIMATE SECTION 1 ON SCROLL */

#section1.scroll-triggered[data-sectionstate="active"] {

    .contentblock-img {
        opacity: 0;
        transform: translateX(-200px);
    }

    .contentblock-text {
        opacity: 0;
        transform: translateX(200px);
    }

}

#section1.scroll-triggered[data-sectionstate="active"] {

    .contentblock-img {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

    .contentblock-text {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

}

/* ANIMATE SECTION 2 ON SCROLL */

#section2.scroll-triggered[data-sectionstate="inactive"] {

    background-color: $color-accent-dark;

    .contentblock-img {
        opacity: 0;
        transform: translateY(200px);
    }

    .contentblock-text {
        opacity: 0;
        transform: translateY(-200px);
    }

}

#section2.scroll-triggered[data-sectionstate="active"] {

    background-color: #eee;
    transition: all 1s ease-out;

    .contentblock-img {
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s ease-out;
    }

    .contentblock-text {
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s ease-out;
    }

}

/* ANIMATE SECTION 3 ON SCROLL */

#section3 .contentblock-img {
    position: relative;
    margin-top: 4em;
}

#section3 .s-character {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#section3.scroll-triggered[data-sectionstate="inactive"] {

    .s-character {
        transform: translate(-50%, 50%);
    }

}

#section3.scroll-triggered[data-sectionstate="active"] {

    .s-character {
        transform: translate(-50%, -100%);
        transition: all 1s ease-out .5s;
    }

}

/* ANIMATED BG */

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.animated-bg {
    background-size: 100px, auto;
    background-image: url(/img/grid-bg.png),
    linear-gradient(180deg, #073b6f, #0E5B98, #1F8CD8, #65B2E8, #67B1E8, #EF86CE, #EF86CE);
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* SPLASH SCREEN (credit: https://codepen.io/headquarter8302/pen/PoORrmY) */

.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #24272A;
    opacity: 1;
    z-index: 500;
    display: grid;
    place-items: center;
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.splash-h1 {
    color: $color-accent;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#container {
    display: flex;
    width: 500px;
    height: 25px;
    background: #24272A;
    border-radius: 16px;
    border: 5px solid $color-accent;
    align-items: center;
}

@keyframes load {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(390px, 0)
    }
}

#bar {
    width: 100px;
    height: 10px;
    background: linear-gradient(to bottom right, #EF86CE, #65B2E8);
    border-radius: 6px;
    box-shadow: 0 0 10px #65B2E8;

    animation: load .25s infinite alternate ease-in-out;
}

@keyframes dots {
    from {
        color: #65B2E8;
        transform: translate(0, -10%);
    }

    to {
        color: #EF86CE;
        transform: translate(0, 0);
    }
}

.dot {
    display: inline-block;
    font-size: 250%;
}

.dot:nth-child(1) {
    animation: dots .5s infinite alternate linear;
}

.dot:nth-child(2) {
    animation: dots 1s infinite alternate linear;
}

.dot:nth-child(3) {
    animation: dots 1.5s infinite alternate linear;
}

h1 sub {
    margin-left: 5%;
    font-size: 15%;
    font-weight: normal;
}

/* GLOW BORDER */

.animated-border-box, .animated-border-box-glow{
    max-height: 400px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden; 
    z-index: 0;
    right: 3px;
    top: 3px;
    border-radius: 8px;
  }

.animated-border-box-glow{
    overflow: hidden;
    filter: blur(18px);
  }

.animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(rgba(0,0,0,0), #CDDE00, #FF9015, rgba(0,0,0,0) 25%);
    animation: rotate 4s linear infinite;
  }
  
  .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 5px;
      top: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background: #24272A;
      border-radius: 7px;
  }
  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }