/* CSS ANIMATIONS */

/* ANIMATE THE HERO ON LOAD */

.hero {

    h1 {
        animation-name: scaleup;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    p {
        animation-name: scaleup;
        animation-duration: 2s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .button-group a {
        animation-name: scaleup;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        opacity: 0;

        &:nth-child(1) {
            animation-delay: 1s;
        }

        &:nth-child(2) {
            animation-delay: 1.5s;
        }

        &:nth-child(3) {
            animation-delay: 2s;
        }
    }

}

div.one-half.contentblock-img {
    font-family: 'Janda Manatee Solid';
    font-size: 1.5em;
    background-color: #333;
    padding: 2em;
    border: 5px solid #CDDE00;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #badf93;
}

div.one-half.contentblock-img a.button {
    display: flex;
    justify-content: center;
}

@keyframes scaleup {
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ANIMATE SECTION 1 ON SCROLL */

#section1.scroll-triggered[data-sectionstate="active"] {

    .contentblock-img {
        opacity: 0;
        transform: translateX(-200px);
    }

    .contentblock-text {
        opacity: 0;
        transform: translateX(200px);
    }

}

#section1.scroll-triggered[data-sectionstate="active"] {

    .contentblock-img {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

    .contentblock-text {
        opacity: 1;
        transform: translateX(0px);
        transition: all 1s ease-out;
    }

}

/* ANIMATE SECTION 2 ON SCROLL */

#section2.scroll-triggered[data-sectionstate="inactive"] {

    background-color: $color-accent-dark;

    .contentblock-img {
        opacity: 0;
        transform: translateY(200px);
    }

    .contentblock-text {
        opacity: 0;
        transform: translateY(-200px);
    }

}

#section2.scroll-triggered[data-sectionstate="active"] {

    background-color: #eee;
    transition: all 1s ease-out;

    .contentblock-img {
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s ease-out;
    }

    .contentblock-text {
        opacity: 1;
        transform: translateY(0px);
        transition: all 1s ease-out;
    }

}

/* ANIMATE SECTION 3 ON SCROLL */

#section3 .contentblock-img {
    position: relative;
    margin-top: 4em;
}

#section3 .s-character {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#section3.scroll-triggered[data-sectionstate="inactive"] {

    .s-character {
        transform: translate(-50%, 50%);
    }

}

#section3.scroll-triggered[data-sectionstate="active"] {

    .s-character {
        transform: translate(-50%, -100%);
        transition: all 1s ease-out .5s;
    }

}

/* SPLASH SCREEN (credit: https://codepen.io/headquarter8302/pen/PoORrmY) */

.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #24272A;
    opacity: 1;
    z-index: 500;
    display: grid;
    place-items: center;
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#container {
    display: flex;
    width: 500px;
    height: 25px;
    background: black;
    border-radius: 6px;
    border: 2px solid dimgray;
    align-items: center;
}

@keyframes load {
    from {
        transform: translate(0, 0)
    }

    to {
        transform: translate(390px, 0)
    }
}

#bar {
    width: 100px;
    height: 10px;
    background: linear-gradient(to bottom right, #EF86CE, #65B2E8);
    border-radius: 6px;
    box-shadow: 0 0 10px #65B2E8;

    animation: load .25s infinite alternate ease-in-out;
}

@keyframes dots {
    from {
        color: cyan;
        transform: translate(0, -10%);
    }

    to {
        color: white;
        transform: translate(0, 0);
    }
}

.dot {
    display: inline-block;
    font-size: 250%;
}

.dot:nth-child(1) {
    animation: dots .5s infinite alternate linear;
}

.dot:nth-child(2) {
    animation: dots 1s infinite alternate linear;
}

.dot:nth-child(3) {
    animation: dots 1.5s infinite alternate linear;
}

h1 sub {
    margin-left: 5%;
    font-size: 15%;
    font-weight: normal;
}