/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        max-width: 70px;
        margin-right: .7em;
        padding-left: 1em;
    }

    a {
        color: $color-accent;
        text-decoration: none;
        cursor: grab;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}

/* SITE FOOTER */

.site-footer {
    background: $color-accent-dark;
    display: flex;
    justify-content: center;
    padding: 4.5em;
    color: $color-accent;

    a {
        color: $color-accent;
        text-decoration: none;
    }
}

// PIXEL TRANSITION

.pixel-transition {
    background-image: url(/img/pixel-footer.png);
    background-color: #ef86ce1a;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.5em 1.5em .65em 1.5em;
}

// FOOTER HOURS

.hours h4 {
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.hours p {
    font-size: .85em;
    margin-bottom: 1em;
}

.hours-bold {
    font-size: 1.2em;
}

// FOOTER LOCATIONS

.locations h4 {
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.location-text {
    max-width: 800px;
    font-size: .65em;
    font-style: italic;
}

.location-one-img {
    border-radius: 8px;
}

.location-two-img {
    border-radius: 8px;
    margin-top: .8em;
}

// ABOUT & MENU & SHOP

.nav-text {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
    letter-spacing: .03em;
}

.nav-text a:hover {
    color: #FF9015;
    cursor: grab;
}

.nav-glow {
    color: #FF9015;
    text-shadow: 0px 0px 8px #FF9015;
}

.footer-nav {
    padding-left: 2em;
}

// FOOTER ICONS

.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-right: 1.5em;
}

.icons li {
    padding-right: 1em;
}

.fab {
    display: inline-block;
    font-size: 30px;
    top: 0;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    cursor: grab;
}

// FOOTER LOGO 

.footer-logo {
    display: flex;
    margin-top: .7em;
}

.footer-logo img {
    width: 25%;
    display: flex;
}

.logo-text {
    font-size: .6em;
    margin-top: .4em;
    padding-left: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO SECTION */

.hero {
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 101vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .35em;
        color: $color-text-headings-light;
    }

    p {
        margin: 1em auto;
    }
}

.site-main {
    overflow-x: hidden;
}

// BLACK RECT

.blk-bg h1 {
    font-size: 5.5em;
    color: $color-accent;
    text-shadow: 0px 0px 10px #EAF5DE;
    letter-spacing: .1em;
}

.blk-bg p {
    margin-top: -1.5em;
    font-size: .85em;
}

.blk-bg {
    position: relative;
    background-color: $color-accent-dark;
    width: 1200px;
    height: 500px;
    border: 8px solid #CDDE00;
    box-shadow: 0px 0px 8px #CDDE00;
    z-index: 100;
    display: block;
    margin: 0 auto;
    border-radius: 5px;

}

.about-blk-bg {
    height: 600px;
}

.blk-bg .container {
    padding-top: 5.5em;
    display: block;
}

.about-text {
    padding-left: 1.5em;
    text-align: left;
    line-height: 1.8;
}

.char-home {
    position: absolute;
    top: 275px;
    left: -80px;
    width: 1000;
    height: 300;
}

.cloud-home {
    position: absolute;
    top: 35px;
    right: -40px;
    width: 1000;
    height: 300;
}

.game-logos {
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
}

.game-logos li {
    border: 2px solid red;
    display: inline-block;
    width: 30%;
    top: 0;
    align-items: flex-start;
    margin: 0;
    padding: 2em;
}

/* SECTIONS */

section {
    padding: 2em 0 .5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

// EXPLORE SECTION

.explore-title h1 {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: $color-accent-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    letter-spacing: .03em;
}

#explore {
    background-color: #CDDE00;
    border-bottom: 10px solid #24272A;
}

#main-border {
    background-color: #24272a25;
    border-radius: 8px 8px 0px 0px;
    border: 10px solid #24272A;
}

.pizzablock-img {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;   
    font-size: 1.5em;
    text-align: center;
    background-color: $color-accent-dark;
    padding: 2em;
    border: 8px solid #CDDE00;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #CDDE00;
    letter-spacing: .03em;

    &:hover {
        border: 8px solid #EF86CE;
        box-shadow: 0px 0px 8px #EF86CE;
        cursor: grab;
    }
}

.merchblock-img {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;   
    font-size: 1.5em;
    text-align: center;
    background-color: $color-accent-dark;
    padding: 2em;
    border: 8px solid #CDDE00;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #CDDE00;
    letter-spacing: .03em;

    &:hover {
            border: 8px solid #65B2E8;
            box-shadow: 0px 0px 8px #65B2E8;
            cursor: grab;
        }
}

.explore-options {
    margin-top: 1em;
}

// RPG SECTION

.rpg-column {
    margin-top: .2em;
    padding: 1em;
}

.rpg img {
    border-radius: 8px;
}

.rpg-titles {
    color: #CDDE00;
    font-size: 1.1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .1em;
}

.rpg-desc {
    color: $color-accent;
    font-size: .90em;
}

.rpg-preorder {
    color: #EAF5DE;
    text-align: center;
    margin-top: 1em
}

// PROFILE

.profile-blk-bg {
    height: 300px;
}

.profile-blk-bg p {
    display: block;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.quote-text {
    text-align: center;
    max-width: 530px;
    display: block;
    justify-content: center;
    align-items: center;
    place-items: center;
}

.staff-column {
    margin-top: .2em;
    padding: 1em;
}

.staff img {

    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-titles {
    color: $color-accent;
    font-size: 1.1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .1em;
    text-align: center;
}

.staff-desc {
    color: $color-accent;
    font-size: .90em;
    text-transform: lowercase;
    text-align: center;
}

// MENU

.health-i {
    color: #EF86CE;
}

.stamina-i {
    color: #65B2E8;
}

.idle-cafe-cursive {
    padding: 2.5em;
}

.menu-blk {
    height: 2000px;
    margin-bottom: 7em;
}

.menu-blk h1 {
    color: #CDDE00;
    text-shadow: 0px 0px 8px #CDDE00;
    padding-top: 1.5em;
}

.menu-blk p {
    max-width: 25em;
}

.yuyi {
    position: absolute;
    padding: 4em;
    top: 40px;
    right: 360px;
    width: 400;
    height: 300;
    z-index: 300;
}

// SHOP

.slots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
}

.slots img {
    width: 10%;
}

.merch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

.merch img {
    border-radius: 8px;
    border: 8px solid #CDDE00;
    box-shadow: 0px 0px 8px #CDDE00;
    margin: 0 auto;
}

.merch nav {
    margin: 100px auto; 
    text-align: center;
}

.merch nav ul ul {
    display: none;
}
  
.merch nav ul li:hover > ul {
    display: block;
}
  
.merch nav ul li {
    float: left;
    width: 500px;
    text-align: left;
    border-bottom: 3px solid #2ecc71; 
}

.merch nav ul li:hover {
    background: #f2f2f2;
}

.merch nav ul li a {
    display: block; 
    padding: 15px 10px;
    color: #2a2a2a; 
    text-decoration: none;
}
        
.merch nav ul ul {
    border-radius: 0px; 
    padding: 0;
    position: absolute; 
    top: 100%;
}

.merch nav ul ul li {
    float: none;
    border-bottom: 2px solid #eaeaea; 
    position: relative;
}

.merch nav ul ul li a {
    padding: 15px 10px;
    color: #838383;
} 

.merch nav ul ul li a:hover {
    background: #47d583;
    color: #fff;
} 

#down-triangle {
    float: right;
    width: 0; 
    height: 0;
    margin-top: 10px;
    border-top: 10px solid #2ecc71;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
}

.circle {
    float: right;
    display: inline;
    width: 10px;
    height: 10px; 
    margin-top: 5px;
    border: 3px solid #8ce5b2;
    -moz-border-radius: 100%; 
    -webkit-border-radius: 100%; 
    border-radius: 100%;
}

.merch nav {
    margin-left: 0;
    padding-left: 0;
    width: 500px;
    list-style: none;
    position: relative;
    display: inline-table;
}

/* ANIMATED BG */

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.animated-bg {
    background-size: 100px, auto;
    background-image: url(/img/grid-bg.png),
    linear-gradient(180deg, #073b6f, #0E5B98, #1F8CD8, #65B2E8, #67B1E8, #EF86CE, #EF86CE);
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}