/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        max-width: 70px;
        margin-right: .7em;
        padding-left: 1em;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}

/* SITE FOOTER */

.footer-logo img {
    width: 15%;
    padding-top: 4%;
    display: flex;
}

.footer-copy {
    font-size: .5em;
}

.footer-container {
    margin: 0 auto;
    padding: 5em;
    display: flex;
    align-items: flex-start;
    border: 3px solid red;
}

.icons {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.site-footer {
    background: $color-accent-dark;
    display: flex;
    justify-content: center;
    padding: .5em;
    color: $color-accent;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.hours p {
    font-size: .90em;
}

.nav-text {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.location-text {
    max-width: 8800px;
    font-size: .65em;
    font-style: italic;
    margin-top: .2em;
}

.location-one-img {
    border-radius: 8px;
    margin-top: 1em;
}

.location-two-img {
    border-radius: 8px;
    margin-top: .8em;
}

/* HERO SECTION */

.hero {
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 101vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .35em;
        color: $color-text-headings-light;
    }

    p {
        margin: 1em auto;
    }
}

.site-main {
    overflow-x: hidden;
}

.blk-bg h1 {
    font-size: 5.5em;
    color: #EAF5DE;
    text-shadow: 0px 0px 10px #EAF5DE;
    letter-spacing: .1em;
}

.blk-bg p {
    margin-top: -1.5em;
    font-size: .90em;
}

.blk-bg {
    position: relative;
    background-color: #24272A;
    width: 1200px;
    height: 500px;
    border: 6px solid #CDDE00;
    box-shadow: 0px 0px 10px #badf93;
    z-index: 100;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.blk-bg .container {
    padding-top: 5.5em;
    display: block;
}

i {
    color: #CDDE00;
    font-weight: bold;
}

.fumi-home {
    position: absolute;
    top: 275px;
    left: -80px;
    width: 1000;
    height: 300;
}

.cloud-home {
    position: absolute;
    top: 35px;
    right: -40px;
    width: 1000;
    height: 300;
}

/* SECTIONS */

section {
    padding: 2em 0 .5em 0;
    // min-height: 101vh;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    // border: 5px solid #24272A;
}

.section-title h1 {
    font-family: 'Janda Manatee Solid';
    font-size: xx-large;
    text-transform: uppercase;
    color: #24272A;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

#explore {
    background-color: #CDDE00;
    border: 5px solid #24272A;
}

/* RPG SECTION */

.rpg-container {
    width: 1000px;
}

.rpg img {
    border-radius: 8px;
    margin-right: 3em;
}

.rpg-titles {
    color: #CDDE00;
    font-size: 1.1em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .1em;
}

.rpg-desc {
    color: rgb(255 255 255 / 1);
    font-size: .90em;
}

.rpg-preorder {
    color: #EAF5DE;
    text-align: center;
    margin-top: 1em
}

/* ANIMATED BG */

.site-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.animated-bg {
    // animation: animatedGradient 10s ease infinite;
    // background-image: url(../img/grid-bg.png);
    background-size: 100px, auto;
    background-image: url(../img/grid-bg.png), linear-gradient(180deg, #073b6f, #0E5B98, #1F8CD8, #65B2E8, #67B1E8, #EF86CE, #EF86CE);
}

@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 767px) {
    .animated-bg {
        // animation: animatedGradient 10s ease infinite;
        // background-size: 400%;
    }
}