/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-id {
        display: flex;
        align-items: center;
    }

    .logomark {
        max-width: 70px;
        margin-right: .7em;
        padding-left: 1em;
    }

    a {
        color: $color-accent;
        text-decoration: none;
        cursor: grab;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }
}

/* SITE FOOTER */

.site-footer {
    background: $color-accent-dark;
    display: flex;
    justify-content: center;
    padding: 4.5em;
    color: $color-accent;

    a {
        color: $color-accent;
        text-decoration: none;
    }
}

// PIXEL TRANSITION

.pixel-transition {
    background-image: url(/img/pixel-footer.png);
    background-color: #ef86ce1a;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 1.5em 1.5em .65em 1.5em;
}

// FOOTER HOURS

.hours h4 {
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.hours p {
    font-size: .85em;
    margin-bottom: 1em;
}

.hours-bold {
    font-size: 1.2em;
}

// FOOTER LOCATIONS

.locations h4 {
    margin-bottom: 1em;
    letter-spacing: .03em;
}

.location-text {
    max-width: 800px;
    font-size: .65em;
    font-style: italic;
}

.location-one-img {
    border-radius: 8px;
}

.location-two-img {
    border-radius: 8px;
    margin-top: .8em;
}

// ABOUT & MENU & SHOP

.nav-text {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-bottom: 1.5em;
    letter-spacing: .03em;
}

.nav-text a:hover {
    color: #FF9015;
    cursor: grab;
}

.nav-glow {
    color: #FF9015;
    text-shadow: 0px 0px 8px #FF9015;
}

.footer-nav {
    padding-left: 2em;
}

// FOOTER ICONS

.icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-right: 1.5em;
}

.icons li {
    padding-right: 1em;
}

.fab {
    display: inline-block;
    font-size: 30px;
    top: 0;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    cursor: grab;
}

// FOOTER LOGO 

.footer-logo {
    display: flex;
    margin-top: .7em;
}

.footer-logo img {
    width: 25%;
    display: flex;
}

.logo-text {
    font-size: .6em;
    margin-top: .4em;
    padding-left: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HERO SECTION */

.hero {
    text-align: center;
    padding: 8em 0 4em 0;
    min-height: 101vh;
    color: $color-text-body-light;
    display: flex;
    align-items: center;

    h1 {
        margin-bottom: .35em;
        color: $color-text-headings-light;
    }

    p {
        margin: 1em auto;
    }
}

.site-main {
    overflow-x: hidden;
}

// BLACK RECT

.blk-bg h1 {
    font-size: 5.5em;
    color: $color-accent;
    text-shadow: 0px 0px 10px $color-accent;
    letter-spacing: .1em;
}

.blk-bg p {
    margin-top: -1.5em;
    font-size: .85em;
}

.blk-bg {
    position: relative;
    background-color: $color-accent-dark;
    width: 1200px;
    height: 500px;
    border: 8px solid #CDDE00;
    box-shadow: 0px 0px 8px #CDDE00;
    z-index: 100;
    display: block;
    margin: 0 auto;
    border-radius: 5px;

}

.about-blk-bg {
    height: 600px;
}

.blk-bg .container {
    padding-top: 5.5em;
    display: block;
}

.about-text {
    padding-left: 1.5em;
    text-align: left;
    line-height: 1.8;
}

.char-home {
    position: absolute;
    top: 275px;
    left: -80px;
    width: 1000;
    height: 300;
}

.cloud-home {
    position: absolute;
    top: 35px;
    right: -40px;
    width: 1000;
    height: 300;
}

/* SECTIONS */

section {
    padding: 2em 0 .5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
}

// EXPLORE SECTION

.explore-title h1 {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: $color-accent-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    place-items: center;
    letter-spacing: .03em;
}

#explore {
    background-color: #CDDE00;
    border-bottom: 10px solid #24272A;
}

#main-border {
    background-color: #24272a25;
    border-radius: 8px 8px 0px 0px;
    border: 10px solid #24272A;
}

.pizzablock-img {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: $color-accent-dark;
    padding: 2em;
    border: 8px solid #CDDE00;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #CDDE00;
    letter-spacing: .03em;

    &:hover {
        border: 8px solid #EF86CE;
        box-shadow: 0px 0px 8px #EF86CE;
        cursor: grab;
    }
}

.merchblock-img {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    background-color: $color-accent-dark;
    padding: 2em;
    border: 8px solid #CDDE00;
    border-radius: 25px;
    box-shadow: 0px 0px 8px #CDDE00;
    letter-spacing: .03em;

    &:hover {
        border: 8px solid #65B2E8;
        box-shadow: 0px 0px 8px #65B2E8;
        cursor: grab;
    }
}

.explore-options {
    margin-top: 1em;
}

// RPG SECTION

.section-title img {
    position: absolute;
    width: 10%;
    bottom: -958px;
    right: 490px;
}

.rpg-column {
    margin-top: .2em;
    padding: 1em;
}

.rpg img {
    border-radius: 8px;
}

.rpg-titles {
    color: #CDDE00;
    font-size: 1.1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .1em;
}

.rpg-desc {
    color: $color-accent;
    font-size: .90em;
}

.rpg-preorder {
    color: $color-accent;
    text-align: center;
    margin-top: 1em
}

// PROFILE

.game-logos {
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: right;
    margin-top: 8em;
    margin-left: 35em;
}

.game-logos li {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1em .5em;
}

.profile-blk-bg {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 1em;
    height: 300px;
}

.statement {
    margin-top: 4.5em;
    margin-left: .5em;
    justify-content: center;
}

.statement h2 {
    color: #CDDE00;
    text-shadow: 0px 0px 8px #CDDE00;
    padding-bottom: .2em;
    text-align: center;
    letter-spacing: .03em;
}

.statement p {
    margin: 0 auto;
    color: $color-accent;
    text-align: center;
    max-width: 530px;
}

.statement b {
    color: #FF9015;
}

.staff-column {
    margin-top: .2em;
    padding: 1em;
}

.staff img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-titles {
    color: $color-accent;
    font-size: 1.1em;
    letter-spacing: .03em;
    text-transform: uppercase;
    margin-top: .5em;
    margin-bottom: .1em;
    text-align: center;
}

.staff-desc {
    color: $color-accent;
    font-size: .90em;
    text-transform: lowercase;
    text-align: center;
}

// MENU

.health-i {
    color: #EF86CE;
}

.stamina-i {
    color: #65B2E8;
}

.idle-cafe-cursive {
    padding: 2.5em;
}

.yuyi {
    position: absolute;
    padding: 4em;
    top: 40px;
    right: 360px;
    width: 400;
    height: 300;
    z-index: 300;
}

.menu-blk {
    height: 5000px;
    margin-bottom: 7em;
}

.menu-blk h1 {
    color: #CDDE00;
    text-shadow: 0px 0px 8px #CDDE00;
    padding-top: 1.5em;
}

.menu-blk p {
    max-width: 25em;
}

.burger {
    position: absolute;
    width: 8%;
    top: 2870px;
    left: 395px;
}

.bit-fries {
    position: absolute;
    width: 8%;
    top: 2900px;
    left: 480px;
}

.milkshake {
    position: absolute;
    width: 15%;
    bottom: 100px;
    right: 40px;
}

.waffles {
    position: absolute;
    width: 15%;
    top: 1120px
}

.philly {
    position: absolute;
    width: 15%;
    bottom: 500px;
    right: 40px;
}

.menu-body {
    max-width: 680px;
    margin: 0 auto;
    display: block;
    color: rgb(92, 92, 92);
}

.menu-section {
    margin-bottom: 80px;
}

.menu-section h4 {
    text-align: left;
    color: $color-accent;
    text-shadow: 0px 0px 8px $color-accent;
    padding-top: .5em;
}

.menu-section-title {
    font-family: 'Janda Manatee Solid', Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #FF9015;
    text-shadow: 0px 0px 8px #FF9015;
    display: block;
    font-weight: normal;
    margin: 20px 0;
    text-align: left;
}

.menu-item {
    margin: 35px 0;
    font-size: 18px;
}

.menu-item-name {
    color: #CDDE00;
    font-family: helvetica;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px dotted $color-accent;
    text-align: left;
}

.menu-item-description {
    color: $color-accent;
    font-style: italic;
    font-size: .9em;
    line-height: 1.5em;
    max-width: 40em;
    text-align: left;
}

.menu-item-price {
    color: #CDDE00;
    float: right;
    font-weight: bold;
    font-family: arial;
    margin-top: -26px;
}

.fries {
    font-family: Avenir Next, Arial, Helvetica, sans-serif;
    font-size: .3em;
    font-weight: 600;
    text-transform: lowercase;
    text-shadow: none;
    color: #FF9015;
}

// SHOP

.slots {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
}

.slots img {
    width: 10%;
}

.top-shop {
    margin-bottom: 2em;
}

.merch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

.merch p {
    text-align: center;
    font-size: 1em;
    padding-top: 1em;
}

.merch h3 {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #CDDE00;
    margin-top: 1em;
    padding: 1em;
    border-radius: 8px;
}

// .merch h3::after {
//     content: '✦';
// }

.merch img {
    border-radius: 8px;
    border: 8px solid #CDDE00;
    box-shadow: 0px 0px 8px #CDDE00;
    margin: 0 auto;
}

details {
    box-sizing: border-box;
    // border-top: 1px solid rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    // border-left: 1px solid rgba(0, 0, 0, 0.2);
    // border-right: 1px solid rgba(0, 0, 0, 0.2);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

details+details {
    border-top-width: 0px;
}

details[open] {
    transition: all 0.4s ease-out;
    padding-bottom: 0.5em;
}

details[open] summary~* {
    animation: details-fade-trans 0.4s ease-out;
}

@keyframes details-fade-trans {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

summary {
    font-weight: bold;
    display: block;
    cursor: pointer;
    margin: 0;
    padding: 0em 3em 0em 0em;
    position: relative;
}

.list-blk {
    background-color: #24272A;
    // width: 273px;
    list-style: none;
    display: block;
    align-items: flex-start;
    color: #EAF5DE;
    // padding: 1em 2em 1em 1em;
}

details ul li {
    font-family: $font-family-sans;
}

summary:focus {
    /* KEEP DEFAULT */
}

details *:not(summary) {
    margin-left: 1em;
    margin-right: 1em;
}

summary::-moz-list-bullet {
    list-style-type: none;
    display: block;
}

summary::marker,
summary::-webkit-details-marker {
    color: red;
}

summary::before {
    position: absolute;
    right: 1.5em;
    transition: all 0.2s ease-out;

    /* Arrow Version */
    // border-right: 2px solid;
    // border-bottom: 2px solid;
    content: "✦";
    width: 8px;
    height: 8px;
    top: 0.1em;
    right: -1em;
    // transform: rotate(45deg) translate(-4px, -4px);

    /* Plus Minus Version   */
    /*   content: "+"; */
}

details[open] summary {
    background-color: rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

details[open] summary::before {
    /* Arrow Version   */
    // transform: rotate(225deg);
}